name: Metrics Markdown
on:
  workflow_dispatch:
  schedule: 
  - cron: '0 */12 * * *'
  push: 
    branches: [main]
jobs:
  markdown:
    runs-on: ubuntu-latest
    environment:
      name: production
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          # Required parameters
          filename: README.md
          template: markdown
          markdown_cache: .cache
          
          config_timezone: Europe/Warsaw
          config_display: regular

          token: ${{ secrets.METRICS_TOKEN }}