name: Metrics Markdown
on:
  workflow_dispatch:
  schedule: 
  - cron: '0 */12 * * *'
  push: 
    branches: [main]
jobs:
  metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          filename: metrics.svg
          config_output: svg
          config_timezone: Europe/Warsaw
          
          plugin_languages: yes
          plugin_languages_ignored: html,css,latex
          plugin_languages_limit: 6
          plugin_languages_details: percentage
          
          output_action: gist
          committer_gist: ${{ secrets.GIST_ID }}
          token: ${{ secrets.METRICS_TOKEN }}