name: Metrics Markdown
on:
  workflow_dispatch:
  schedule: 
  - cron: '0 */12 * * *'
  push: 
    branches: [main]
jobs:
  markdown:
    runs-on: ubuntu-latest
    environment:
      name: production
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          # Required parameters
          filename: README.md
          template: markdown
          
          config_timezone: Europe/Warsaw
          config_display: regular

          # Plugin options
          plugin_languages: true
          plugin_languages_ignored: html,css,jupyter notebook,latex
          plugin_languages_limit: 6
          plugin_languages_details: percentage

          token: ${{ secrets.METRICS_TOKEN }}