name: Metrics Markdown
on:
  workflow_dispatch:
  schedule: 
  - cron: '0 */12 * * *'
  push: 
    branches: [main]
jobs:
  markdown:
    runs-on: ubuntu-latest
    environment:
      name: production
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          # Required parameters
          filename: README.md
          template: markdown
          markdown: >-
            README_TEMPLATE.md
          markdown_cache: .cache
          
          config_timezone: Europe/Warsaw
          config_padding: 20   
          config_display: regular
          config_output: svg

          # Optional parameters
          plugin_languages: yes
          plugin_languages_ignored: html,css,latex
          plugin_languages_limit: 6
          plugin_languages_aliases: "jupyter notebook=python"
          plugin_languages_details: percentage

          token: ${{ secrets.METRICS_TOKEN }}